nav li {
  list-style: none;
}
.menu {
  height: 36px;
  width: 35px;
  float: right;
  position: relative;
  margin: 12px 0 0 0;
  cursor: pointer;
  z-index: 99;
}

.toggler {
  border-radius: 5px;
  width: 100%;
  height: 4px;
  margin: 0 0 7px 0;
  transition: 0.3s;
}

.hide {
  opacity: 0;
}

.animation0 {
  transform: rotate(45deg) translateY(15px);
  transition: 0.3s ease-in-out;
}

.animation2 {
  transform: rotate(-45deg) translateY(-15px);
  transition: 0.3s ease-in-out;
}

.navbar {
  background-color: #1c2c49;
  position: absolute;
  overflow: hidden;
  visibility: hidden;
  width: 250px;
  height: 400px;
  top: 3.5rem;
  right: 50px;
  opacity: 1;
  transition: 0.2s ease-in-out;
  text-align: center;
  border-radius: 3px;
  border: 0.5px solid gray;
  box-shadow: 0px 5px 50px 0.3px rgb(2, 2, 2);
}

.navbar.show {
  background-color: rgba (0, 0, 0, 1);
  transition: 0.3s ease-in-out;
  opacity: 1;
  visibility: visible;
}

.navbar nav {
  padding: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav {
  height: 100%;
}

@media screen and (max-width: 756px) {
  .navbar {
    right: 30px;
  }
}
