@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #1a202c;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: #81e6d9;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.button {
  @apply bg-light-secondary-900 dark:bg-main hover:bg-light-secondary transition-transform duration-200 hover:translate-x-7 text-light dark:text-black py-1 md:py-2 px-5 md:px-10 rounded font-medium shadow-md shadow-gray-950 hover:shadow-cyan-500/40;
}

.hover-blaze {
  @apply hover:bg-light-secondary transition-transform duration-200 hover:translate-x-7;
}

.cross-nav {
  @apply bg-light-secondary-900 dark:bg-main;
}

.portfolio-h2 {
  @apply text-xl font-semibold border-b-[1px] border-black dark:border-secondary text-black dark:text-main mb-7 mt-5;
}

.portfolio-h3 {
  @apply bg-neutral1 text-light dark:text-gray-500 font-normal my-2 text-center rounded-sm w-full mx-auto max-w-[13rem] shadow-xl;
}
.portfolio-li {
  @apply text-black dark:text-gray-500 font-light pl-3 mx-1 rounded-sm max-w-xs;
}
.portfolio-ul {
  @apply ml-10;
}

.portfolio-paragraph {
  @apply indent-10 text-xs md:text-sm text-black dark:text-white mt-5;
}
.skills-box {
  @apply w-1/2 border-l-[1px] border-b-[1px] border-t-[1px] border-zinc-900 py-5;
}
